/* Unknown at rule @tailwindcss(unknownAtRules) -> Extension : PostCSS Language Support */
/* TailWind의 기본 box-sizig은 content-box */
/* custom global settings */

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  * {
    box-sizing: border-box;
  }
}

.app-container {
  background-color: #123456;
  min-height: 100dvh;

  /* 안전 영역 보정 */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

@layer components {
  .DefaultMainOutletLayout {
    @apply h-screen flex bg-gray-100 min-w-min-limit;
    /* ✅ 최소규격 : IPadMini(768px) */
  }
  .NavHeader {
    @apply py-4 max-w-gnb-open;
  }

  .NavBody {
    @apply overflow-x-hidden [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  }
  .NavOrderedList {
    @apply w-gnb-open overflow-y-auto;
  }

  .NavListItem {
    @apply h-[60px] box-border 
    flex items-center 
    w-gnb-open p-4 
    transition-all duration-300 
    relative 
    hover:font-semibold;

    .NavLitsItemsButton {
      @apply w-full flex gap-gnb items-center;
    }

    .NavLitsItemsButtonIcon {
      @apply font-bold w-gnb-icon h-gnb-icon;
    }
  }
}
