@tailwind base;
@tailwind components;
@tailwind utilities;

/* TailWind의 기본 box-sizig은 content-box */
/* custom global settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-container {
  background-color: #123456;
  min-height: 100dvh;

  /* 안전 영역 보정 */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}