@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  background: #ffffff;
  transition: opacity 2s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  background: transparent;
}
